body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.regions-header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.regions-header h2 {
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.region-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.region-cards .main-card {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    width: 50%;
    min-width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    transition: transform 0.3s ease-in-out;
}

.main-card .text-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    align-items:flex-start;
}

.region-cards img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.region-cards h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.region-cards p {
    font-size: 18px;
    color: #666666;
    text-align: left;
    margin-top: 5px;
}

.region-cards a {
    display: block;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
}

.region-cards .main-card:hover {
    transform: scale(1.1);
}

footer{
    margin-top: 200px;
}