.pricing-header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.pricing-header h2 {
    font-size: 24px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    color: #fff;
}

/* Plan styling */
.plans {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    gap: 3%;
    margin-bottom: 20%;
}

.plan {
    background-color: #fff;
    padding: 40px;
    max-width: 200px;
    min-width: 150px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 3% 0px;
}

.plan h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.plan .price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.plan li {
    margin-bottom: 10px;
}

.plan button {
    background-color: rgb(25, 186, 79);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.plan:nth-child(2){
    transform: scale(1.02);
}

.plan:hover {
    transform: scale(1.05);
}

.plan button:hover {
    background-color: #e64b00;
}

